.about{
    text-align: center;
}
mat-card{
    margin: 0 auto;
    display: block;
    padding: 20px;
    size: 10px;
    text-align: center;
    height: 25%;
    width: 45%;
    color: #010101;
    background-color: #c5c2c2;
   
}
button{
    background-color: rgb(255, 255, 255);
}