.app {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    header {
        flex: auto;
    }
    main {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
    }


}