
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="navbar-title">My App</span>
      <span class="navbar-title">My App</span>
      <span class="navbar-title">My App</span>
      <span class="navbar-title">My App</span>
      <span class="navbar-title">My App</span>
      <div class="spacer"></div>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
