<div class="tab">
    <mat-tab-group >
        <mat-tab label="צור קשר" routerLink="/a"> </mat-tab>
        <mat-tab label="עמדות נדרים פלוס" routerLink="/a"> </mat-tab>
        <mat-tab label="עמדת השיעורים" routerLink="/a"> </mat-tab>
        <mat-tab label="חבורת בני הישיבות" routerLink="/a"> </mat-tab>
        <mat-tab label="קרנות גמ''ח" routerLink="/a"> </mat-tab>
        <mat-tab label="בית מדרש" routerLink="/a"> </mat-tab>
        <mat-tab label="דף הבית" routerLink="/a"> </mat-tab>
    </mat-tab-group>
</div>

<router-outlet></router-outlet>